@import "fonts";
@import "variables";
@import "mixins";

html, body {
  font-family: $mainFont;
  background-color: $backgroundColor;
}

h1,h2,h3 {
  color: $headingsColor;
  font-family: $mainFont;
  font-weight:600;
}

h4,h5,h6 {
  color: $headingsColor;
  font-family: $mainFont;
  font-weight:400;
}

a:hover {
  text-decoration: none;
}

.stretch {
  min-height:100vh;
}

.sidebar-column {
  background-color: $backgroundColor;
  width:250px;
}
.serverinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:80%;
}

.size {
  white-space: nowrap; /* Отменяем перенос текста */
  overflow: hidden; /* Обрезаем содержимое */
  padding: 5px; /* Поля */
  position: relative; /* Относительное позиционирование */
  width: 100%;
  text-align: center;
}

.size::after {
  content: '';
  position: absolute;
  right: 0; top: 0;
  width: 90px;
  height: 100%;
  background: -moz-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
  background: -webkit-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
  background: -o-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
  background: -ms-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
  background: linear-gradient(to right, rgba(255,255,255, 0.2), #fff 100%);
}

.sidebar {
  text-align: left;
  z-index: 999;
  width:250px;
  background-color:$cardColor;
  height: 100vh;
  position: fixed;
  @include appendShadow();

  .item {
    margin: 30px auto;
    width:100%;
  }

  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 30%;
      border-radius:100%;
    }
  }

  .menu-item {
    transition: all ease-in-out .3s;
    color:$iconColor;
    font-size:18px;
    font-family: $mainFont;
    padding: 10px 40px 10px 30px;

    span {
      padding-top: 3px;
      margin-left:24px;
      font-weight: 300;
    }

    .mdi {
      font-size:24px;
    }

    &:hover {
      background-color: #FAFCFF;
      border-left: 6px solid $mainColor;
      cursor: pointer;
      color: #417ADB;
    }
  }

  .active {
    background-color: #FAFCFF;
    border-left: 6px solid $mainColor;
    color: #417ADB;

    &:hover {
      cursor: default;
    }
  }

  .logo {
    width:180px;
    height:68px;

    background-size: contain;
    background: url("../images/logo-small.png") no-repeat;
  }

  hr {
    margin-top:50px;
    width:80%;
  }
}

.canvas-column {
  @media (max-width: 1400px) {
    padding-left: 100px !important;
  }
}
.canvas {
  z-index: -100;
  background-color: $backgroundColor;
  width:100%;
  height:100%;
  padding: 20px;
}

.heading {
  width:100%;
  display: flex;
  justify-content: center;

  .mdi {
    font-size:36px;

    color: $mainColor;
  }

  span {
    font-weight: 900;
    font-size:24px;

    margin-top:9px;
    padding-left:10px;
  }
}

.logout {

  position:absolute;
  top:0;
  right:0;
  margin: 26px 30px 30px;
  font-size:24px;
  a {
    transition: all ease-in-out .3s;
    color: #98A4BB !important;

    &:hover {
      color:#21385E !important;
    }
  }
}

.trackr-card {
  background-color:#fff;
  border-radius: 5px;

  @include appendCardShadow();

  .trackr-card-heading {
    font-family: $mainFont;
    color:#fff;
    background: rgb(102,157,247);
    background: linear-gradient(180deg, rgba(102,157,247,1) 0%, rgba(28,95,204,1) 81%);
    width:100%;
    font-size:36px;
    text-align: center;
    padding:10px;
    font-weight: 300;
  }

  .trackr-card-heading-sm {
    font-size:18px;
  }
  .row-separator {
    width:100%;
    text-align: center;

    svg {
      fill: $mainColor;
    }
  }

  .trackr-card-content {
    padding: 20px;

    .counter-digits {
      width:100%;
      text-align: center;

      font-size:48px;
      font-weight:bold;

      .counter-total {
        background: rgb(102,157,247);
        background: linear-gradient(270deg, rgba(102,157,247,1) 0%, rgba(28,95,204,1) 81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .counter-unique {
        background: rgb(171,79,227);
        background: linear-gradient(270deg, rgba(171,79,227,1) 0%, rgba(84,31,181,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .counter-new {
        background: rgb(163,223,107);
        background: linear-gradient(270deg, rgba(163,223,107,1) 0%, rgba(63,180,114,1) 86%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .increased {
        top: -30px;
        font-size:14px;
        background: #3fb472;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        &:before {
          content:"+";
        }
      }

      .decreased {
        top: -30px;
        font-size:14px;
        background: #AA3333;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .neutral {
        top: -30px;
        font-size:14px;
        background: #888;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.trackr-card-unique {
  .trackr-card-heading {
    background: rgb(171, 79, 227);
    background: linear-gradient(180deg, rgba(171, 79, 227, 1) 0%, rgba(84, 31, 181, 1) 100%);
  }
  .row-separator {
    svg {
      fill: #541fb5 !important;
    }
  }
}

.trackr-card-new {
  .trackr-card-heading {
    background: rgb(163,223,107);
    background: linear-gradient(180deg, rgba(163,223,107,1) 0%, rgba(63,180,114,1) 86%);
  }
  .row-separator {
    svg {
      fill: rgba(63,180,114,1) !important;
    }
  }
}

.content-row {
  padding-top:40px;
}

.btn-primary {
  position: relative;

  transition: all ease-in-out .2s;
  background: rgb(102,157,247);
  background: linear-gradient(180deg, rgba(102,157,247,1) 0%, rgba(28,95,204,1) 81%);
  border:none;

  span {
    position: relative;
    z-index:3;
  }

  &:after {
    border: none;
    position: absolute;
    content: '';
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgb(124,174,255);
    background: linear-gradient(180deg, rgba(124,174,255,1) 0%, rgba(63,127,230,1) 81%);
    transition: opacity 0.2s ease-out;
    z-index: 2;
    opacity: 0;
    border-radius:.25rem;
  }

  &:hover:after {
    opacity: 1;
  }

  &:active:after {
    opacity: 0;
  }

  &:active {
    background: rgb(44,78,133);
    background: linear-gradient(180deg, rgba(44,78,133,1) 0%, rgba(60,110,191,1) 81%);
  }
}

.btn-primary-wa {
  position: relative;
  color:#fff;
  transition: all ease-in-out .2s;
  background: rgb(102, 157, 247);
  background: linear-gradient(180deg, rgba(102, 157, 247, 1) 0%, rgba(28, 95, 204, 1) 81%);
  border: none;

  &:hover {
    color:#fff;
    opacity:.8;
  }
}

.btn-success {
  position: relative;
  transition: all ease-in-out .2s;
  background: rgb(163,223,107);
  background: linear-gradient(180deg, rgba(163,223,107,1) 0%, rgba(63,180,114,1) 86%);
  border:none;

  span {
    position: relative;
    z-index:3;
  }

  &:after {
    border: none;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(175,224,129);
    background: linear-gradient(180deg, rgba(175,224,129,1) 0%, rgba(98,200,143,1) 86%);
    transition: opacity 0.2s ease-out;
    z-index: 2;
    opacity: 0;
    border-radius:.25rem;
  }

  &:hover:after {
    opacity: 1;
  }

  &:active:after {
    opacity: 0;
  }

  &:active {
    background: rgb(112,171,57);
    background: linear-gradient(180deg, rgba(112,171,57,1) 0%, rgba(163,219,91,1) 86%);
  }
}

.btn-secondary {
  position: relative;
  transition: all ease-in-out .2s;
  background: rgb(208,208,208);
  background: linear-gradient(180deg, rgba(208,208,208,1) 0%, rgba(122,122,122,1) 86%);
  border:none;

  span {
    position: relative;
    z-index:3;
  }

  &:after {
    border: none;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(221,221,221);
    background: linear-gradient(180deg, rgba(221,221,221,1) 0%, rgba(136,136,136,1) 86%);
    transition: opacity 0.2s ease-out;
    z-index: 2;
    opacity: 0;
    border-radius:.25rem;
  }

  &:hover:after {
    opacity: 1;
  }

  &:active:after {
    opacity: 0;
  }

  &:active {
    background: rgb(106,106,106);
    background: linear-gradient(180deg, rgba(106,106,106,1) 0%, rgba(187,187,187,1) 97%);
  }
}

.btn-danger {
  position: relative;
  transition: all ease-in-out .2s;
  background: rgb(236,154,72);
  background: linear-gradient(180deg, rgba(236,154,72,1) 0%, rgba(237,51,38,1) 100%);
  border:none;

  span {
    position: relative;
    z-index:3;
  }

  &:after {
    border: none;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(245,166,87);
    background: linear-gradient(180deg, rgba(245,166,87,1) 0%, rgba(231,66,54,1) 100%);
    transition: opacity 0.2s ease-out;
    z-index: 2;
    opacity: 0;
    border-radius:.25rem;
  }

  &:hover:after {
    opacity: 1;
  }

  &:active:after {
    opacity: 0;
  }

  &:active {
    background: rgb(181,41,31);
    background: linear-gradient(180deg, rgba(181,41,31,1) 0%, rgba(227,153,79,1) 100%);
  }
}

.pagination {
  display: flex;
  justify-content: center;

  margin-top:3%;
  margin-left:-80px;
}
.tr-visit-new {
  background: rgb(255,255,255);
  background: linear-gradient(270deg, rgba(255,255,255,0) 15%, rgba(149,227,79,0.4822303921568627) 50%, rgba(255,255,255,0) 89%) !important;

  td {
    border-color:#fff;
  }
}
.tr-visit-unqiue {
  background: rgb(255,255,255);
  background: linear-gradient(270deg, rgba(255,255,255,0) 15%, rgba(171,79,227,0.4822303921568627) 50%, rgba(255,255,255,0) 89%);

  td {
    border-color:#fff;
  }
}

.filter-form {
  background-color:#f8f8f8;
  border-radius:9px;

  padding: 10px;
  margin-top:10px;
  margin-bottom: 10px;
}
