$mainFont: "HelveticaNeueCyr", sans-serif;

$mainColor: #1C5FCC;
$accentColor: #14D1A8;

$headingsColor: #000;

$iconColor: #BDCADE;
$darkIconColor: #21385E;

$backgroundColor: #F4F7FD;
$backgroundColorAccent: #E9F1FC;

$cardColor: #FFFFFF;
